/* *{
    border: solid red 1px;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: minmax(250px,2fr) 6fr;
    grid-template-rows: 150px 1fr;
}

#dashboard{
    grid-area: 1/1/3/2;
    background-color: lightblue;
    display: grid;
    grid-template-rows: 80px 40px repeat(10,50px);
    gap: 2px;
}

#home{
    background-color: green;
}

#main_content{
    grid-area: 2/2/3/3;
    overflow: auto;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    background-color: rgb(222,228,238);;
}

#bigbanner{
    grid-area: 1/1/3/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25px 1fr 1fr 1fr;
    gap: 12px;
    padding: 12px;
}

.title{
    grid-area: 1/1/2/3;
    padding-top: 10px;
}

.title h3{
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
    font-size: 18px;
}

.tile{
    box-shadow: inset 10px 0px gold;
    background-color: white;
    border-radius: 10px;
}

#announcements{
    padding-right: 12px;
    display: grid;
    grid-template-rows: 60px 1fr;
}

#announcements > .title{
    grid-area: 1/1/2/2;
    background-color: yellow;
}

#trending{
    padding-right: 12px;
    display: grid;
    grid-template-rows: 60px 1fr;
}

#trending > .title{
    grid-area: 1/1/2/2;
    background-color: yellow;
}

#header{
    display: grid;
    grid-template-columns: 450px 1fr 1fr 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: "search account account account"
    "greeting button button button";
}

#search{
    grid-area: search;
    background-color: green;
}

#greeting{
    grid-area: greeting;
    background-color: blue;
}

#account{
    grid-area: account;
    background-color: yellow;
}
.button{
    grid: button;
    background-color: pink;
}


.tile{
    padding-left: 25px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.tile h4{
    font-family: 'Roboto', sans-serif;

    margin-top: 0px;
    margin-bottom: 0px;
}
.tile > p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgb(132, 135, 138);
    margin-top: 0px;
    margin-bottom: 50px;
}

.functions{
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: -30px;
    display: flex;
    justify-content: space-evenly;
    width: 100px;
}

.favorite,
.eye,
.share{
    width: 20px;
    height: 20px;
}